body {
    background-image: url('bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.container {
    background-color: white;
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #17cb6e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #17cb6e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
